/*paleta de colores y general*/
:root {
    --rojouleam: rgb(227, 6, 20);
    --verdeuleam: rgb(149, 193, 31);
    --grisuleam: rgb(243, 243, 243);
    --oscuro: rgb(22, 28, 39);

}

body {
    font-family: 'comic neue', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}



/*Todo para el header y footer*/
.cabeza {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--grisuleam);
}

footer {
    font-size: 10px;
    background-color: var(--oscuro);
    color: var(--grisuleam);
}

.logo {
    width: 100px;
    margin-left: 20px;
}

footer p {
    margin-left: 20px;
}

.boton-home {
    font-family: 'comic neue', sans-serif;
    background-color: var(--verdeuleam);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.boton-home:hover {
    transition: 0.5s;
    background-color: var(--rojouleam);
    color: var(--grisuleam);
}

.botones-main {
    display: flex;
    align-items: center;
    gap: 15px;

}



/*Main*/
.cuerpo-main {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: white;
}

.imagen,
.img {
    position: relative;
    width: 400px;
    margin-top: 90px;
    margin-left: 50px;
}

.indeximg {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.textoindex {
    margin-top: 50px;
    margin-left: 90px;
    font-size: 20px;
    padding: 1px;
}

li {
    list-style: none;

}

h1 {
    font-size: 40px;
}